{% extends 'student/base.html' %}
{% load static %}

{% block title %}Borrowed Books | EduShelf{% endblock title %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'student/css/borrowed_books.css' %}">
{% endblock extra_head %}

{% block content %}
<div class="container ">
    <h4 class="mb-3">Borrowed Books</h4>

    <div class="table-responsive">
        <table class="table table-bordered table-striped align-middle">
            <thead class="table-primary text-center">
                <tr>
                    <th>Book ID</th>
                    <th>Book Name</th>
                    <th>Borrowed Date</th>
                    <th>Return Date</th>
                    <th>Return Status</th>
                    <!-- <th>Fines</th> -->
                    <!-- <th>Action</th> -->
                </tr>
            </thead>
            <tbody>
                {% for issued in borrowed_books %}
                <tr>
                    <td>{{ issued.book.book_id }}</td>
                    <td>{{ issued.book.title }}</td>
                    <td>{{ issued.issue_date }}</td>
                    <td>{{ issued.due_date }}</td>
                    <td>
                        {% if issued.status == 'returned' %}
                            <span class="badge bg-success">Returned</span>
                        {% elif issued.status == 'due_soon' %}
                            <span class="badge bg-warning text-dark">Due Soon</span>
                        {% elif issued.status == 'overdue' %}
                            <span class="badge bg-danger">Overdue</span>
                        {% else %}
                            <span class="badge bg-secondary">{{ issued.status|capfirst }}</span>
                        {% endif %}
                    </td>
                    <!-- <td>Rs {{ issued.fine_amount|default:"0.00" }}</td> -->
                    <!-- <td>
                        {% if issued.status == 'overdue' or issued.fine_amount %}
                            <button>Pay Now</button>
                        {% else %}
                            <span class="text-muted">-</span>
                        {% endif %}
                    </td> -->
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center">No borrowed books found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
{% block scripts %}
{% endblock scripts %}