{% extends 'student/base.html' %}

{% load static %}

{% block title %}Student Dashboard | EduShelf{% endblock title %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'student/css/change_password.css' %}">
{% endblock extra_head %}

{% block content %}

<div class="card">
  <h1>Change Password</h1>
  <p class="hint">
    Hints on getting your new password right:<br>
    Your new password must be between 8 and 15 characters in length.
  </p>

  <form class="password-form" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="new-password">New Password</label>
      <input type="password" name="new_password" id="new-password" placeholder="Enter new password" required>
    </div>

    <div class="form-group">
      <label for="confirm-password">Confirm New Password</label>
      <input type="password" name="confirm_password" id="confirm-password" placeholder="Confirm new password" required>
    </div>

    <button type="submit" class="btn-primary">
      <i class="fas fa-key"></i> Change Password
    </button>
  </form>
  <div class="message">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
</div>
{% endblock content %}