{% extends "adminpanel/base.html" %}
{% load static %}

{% block title %}Admin Dashboard | EduShelf{% endblock title %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'adminpanel/css/manage_fines.css' %}">
{% endblock extra_head %}
{% block content %}
<!--Main Content-->

<div class="main-content-fines">
  <h2>Manage Fines</h2>
  <nav>
    <!-- <a href="#">Home</a> &gt; <a href="#">Manage Fines</a> -->
  </nav>

  <div class="filter-bar">
    <input type="text" placeholder="Type Student ID" />
    <select>
      <option value="all">All</option>
    </select>
    <input type="text" placeholder="Type Student Name" />
    <input type="text" placeholder="Type Book ID" />
  </div>

  <table class="fines-table">
    <thead>
      <tr>
        <th>Book ID</th>
        <th>Book Name</th>
        <th>Student ID</th>
        <th>Student Name</th>
        <th>Issued Date</th>
        <th>Date Due</th>
        <th>Delayed By</th>
        <th>Fine</th>
        <th>Notes</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>9095646</td>
        <td>Fin Accounting (Du Bcom) 2E</td>
        <td>1004</td>
        <td>Stefen Harry</td>
        <td>30-11-2017</td>
        <td>10-12-2017</td>
        <td>21</td>
        <td>140</td>
        <td></td>
        <td><button class="action-btn"><i class="fas fa-receipt"></i></button></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="7"></td>
        <td><strong>Total</strong></td>
        <td colspan="2" class="total-fine">140</td>
      </tr>
    </tfoot>
  </table>
</div>
{% endblock content %}

{% block extra_js %}
{% endblock extra_js %}
