
{% extends "adminpanel/base.html" %}
{% load static %}

{% block title %}Admin Dashboard | EduShelf{% endblock title %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'adminpanel/css/view_request_book.css' %}">
{% endblock extra_head %}
{% block content %}


<!--main content-->

<div class="content-wrapper">
  <section class="content-header">
    <!-- <h1>Dashboard <small>Control panel</small></h1> -->
    <ol class="breadcrumb">
      <!-- <li><i class="fa fa-home"></i> Home</li> -->
      <!-- <li class="active">Request Books</li>/ -->
    </ol>
  </section>

  <section class="content">
    <div class="box">
      <div class="box-body table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Book Name</th>
              <th>Book Url</th>
              <th>BookDesc</th>
              <th>Student ID</th>
              <th>Student Name</th>
              <th>Likes (👍)</th>
              <th>Added On</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>SQL For Dummies</td>
              <td><a href="#" target="_blank">Visit</a></td>
              <td>Kindly get this book as requested by Prof. Stefen. Need it urgently as semesters are soon. Thank you sir.</td>
              <td>1001</td>
              <td>Shoab Khan Khan</td>
              <td>1</td>
              <td>2017-12-30</td>
              <td>
                <button class="btn btn-success btn-sm" title="Approve"><i class="fa fa-check"></i></button>
                <button class="btn btn-danger btn-sm" title="Delete"><i class="fa fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>

{% endblock content %}

{% block extra_js %}
{% endblock extra_js %}