{% extends "core/base.html" %}
{% load static %}
{% block title %}Catalog | EduShelf{% endblock title %}
  {% block extra_head %}
  <link rel="stylesheet" href="{% static 'core/css/index.css' %}">
  {% endblock %}

{% block content %}
<section class="welcome-section py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 mb-4 mb-md-0">
        <img src="{% static 'core/images/index.png' %}" alt="Library" class="img-fluid rounded">
      </div>
      <div class="col-md-6 text-center text-md-start">
        <h2 class="fw-bold">Welcome to <em>EduShelf</em></h2>
        <p class="lead">Manage your reading, borrowing, and requests all in one place.</p>
        <a href="{% url 'about' %}" class="btn btn-primary mt-3">Explore More</a>
      </div>
    </div>
  </div>
</section>

{% endblock %}
{% block extra_js %}
<script src="{% static 'core/js/index.js' %}"></script>
{% endblock extra_js %}

